.player {
    width: 5vmin;
    height: 5vmin;
    top: -5vmin;
    left: -5vmin;
    position: absolute;
    overflow: hidden;
    z-index: 50;
    background-color: #000;
}
.player_spritesheet {
    position: absolute;
    background: url("ASSETS/sprites/player.png") no-repeat no-repeat;
    background-size: 100%;
    height: 25vmin;
    width:  20vmin;
}
.player[facing="<^"],.player[facing="<"],.player[facing="<v"]{
    webkit-transform: scaleX(-1); transform: scaleX(-1);
}
.player[facing="^"] .player_spritesheet { background-position-y: -20vmin;}
.player[facing=">^"] .player_spritesheet { background-position-y: -15vmin;}
.player[facing=">"] .player_spritesheet { background-position-y: -10vmin;}
.player[facing=">v"] .player_spritesheet { background-position-y: -5vmin;}
.player[facing="v"] .player_spritesheet { background-position-y: -0vmin;}
.player[facing="<v"] .player_spritesheet { background-position-y: -30vmin;}
.player[facing="<"] .player_spritesheet { background-position-y: -35vmin;}
.player[facing="<^"] .player_spritesheet { background-position-y: -40vmin;}

.player[walking="true"] .player_spritesheet {
    animation: walkAnimation 0.4s steps(4) infinite;
}
@keyframes walkAnimation {
    from {
    transform: translate3d(0%, 0%, 0);
    }

    to {
    transform: translate3d(-100%, 0%, 0);
    }
}
.debug {
    position: absolute;
    font-size: xx-large;
    z-index: 1000;
}
/* ==== ==== ==== ==== VARIABLES ==== ==== ==== ==== */
:root {
    --background: #000;

    --primary: #0c0406;
    --primarytext: #f4cfa4;
    --primaryheading: #f4cfa4;

    --secondary: #1e0b11;
    --secondarytext: #dbb4a9;
    --secondaryheading: #dbb4a9;

    --inverted: #917f76ff;
    --invertedtext: #090304;
    --invertedheading: #090304;

    --link: #6f8b9b;
    --hover: #96a4eb;
    --visited: #83af93;

    --success: #83af93;
    --info: #d13063;
    --warning: #eeb26d;
    --danger: #c81f36;
}
/* ==== ==== ==== ==== MAIN ==== ==== ==== ==== */
html {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background);
    color: var(--primarytext);
}
body {
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100vmin;
    height: 100vmin;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
main {
    background-size: cover;
    width: 200vmin;
    height: 200vmin;
    position: absolute;
    z-index: 0;
}
section {
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    position: absolute;
}


main *, main *::before, main *::after {
    pointer-events:all;
   position: absolute;
   z-index: 50;
}






p, a, button, input, textarea, select, input, blockquote {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.08rem;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--primaryheading);
    font-weight: bold;
    margin-bottom: 2rem;
}
h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}
h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}
h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}
h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}
h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}
h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}
a { color: var(--link); }
a:hover, a:focus { color: var(--hover); }
a:visited { color: var(--visited); }
button, input[type="submit"], input[type="reset"], input[type="button"] {
    background-color: var(--secondary);
    color: var(--secondarytext);
    text-align: center;
    white-space: nowrap;
    margin-bottom: 2rem;
}
textarea, select, input[type="email"], input[type="number"], input[type="search"],input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
    background-color: var(--secondary);
    color: var(--secondarytext);
    margin-bottom: 2rem;
}
label, legend {
    display: block;
    margin-bottom: rem;
    font-weight: 600;
}
hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-width: 0;
    border-top: 1px solid --primarytext;
}
@media only screen and (max-width: 700px) {}